<ul>
    <li>
        {{ $baseurl := printf "%s" .Site.BaseURL }}
        <a {{ if eq $baseurl .Permalink }}class="current"{{ end }} title="Agence Web" href="{{ $baseurl }}">
            Agence Web
        </a>
        <ul id="scrollspy">
        </ul>
    </li>
    <li>
        {{ $linkurl := (print $baseurl "developpement/") }}
        <a {{ if eq $linkurl .Permalink }}class="current"{{ end }} title="Développement Magento" href="{{ $linkurl }}">
            Développement Magento
        </a>
    </li>
    <li>
        {{ $linkurl := (print $baseurl "hebergement/") }}
        <a {{ if eq $linkurl .Permalink }}class="current"{{ end }} title="Hébergement Magento" href="{{ $linkurl }}">
            Hébergement Magento
        </a>
    </li>
    <li>
        {{ $linkurl := (print $baseurl "post/") }}
        <a {{ if eq $linkurl .Permalink }}class="current"{{ end }} title="Articles" href="{{ $linkurl }}">
            Articles
        </a>
    </li>
</ul>